Source: samtools0.1.18
Section: science
Priority: optional
Maintainer: The Genome Institute <genome-dev@genome.wustl.edu>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), cdbs, quilt, libncurses5-dev, zlib1g-dev
Standards-Version: 3.9.2
Homepage: http://samtools.sourceforge.net

Package: samtools0.1.18
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: python
Description: processing sequence alignments in SAM and BAM formats
 Samtools is a set of utilities that manipulate nucleotide sequence alignments
 in the binary BAM format. It imports from and exports to the ascii SAM
 (Sequence Alignment/Map) format, does sorting, merging and indexing, and allows
 to retrieve reads in any regions swiftly. It is designed to work on a stream,
 and is able to open a BAM (not SAM) file on a remote FTP or HTTP server.

Package: libbam0.1.18-dev
Architecture: any
Section: libdevel
Pre-Depends: dpkg (>= 1.15.6)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: manipulates nucleotide sequence alignments in BAM or SAM format 
 The BAM library provides I/O and various operations on manipulating nucleotide
 sequence alignments in the BAM (Binary Alignment/Mapping) or SAM (Sequence
 Alignment/Map) format. It now supports importing from or exporting to SAM,
 sorting, merging, generating pileup, and quickly retrieval of reads overlapped
 with a specified region. 
